.container {
    overflow: hidden;
    min-height: 100vh;
}
.main-title-ghost {
    position: absolute;
    z-index: -1;
    left: -70px;
    bottom: -150px;
    font-weight: 500;
    font-size: 278px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #ECEDF04D;
}
.main-image {
    width: 1024px;
    top: 100px;
    z-index: -2;
}

.main-image img {
    width: 100%;
    max-width: 1024px;
    height: auto;
    display: block;
}